// Colors

$scissors-gradient: linear-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));
$paper-gradient:  linear-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
$rock-gradient: linear-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));
$lizard-gradient: linear-gradient(hsl(261, 73%, 60%), hsl(261, 72%, 63%));
$cyan-gradient: linear-gradient(hsl(189, 59%, 53%), hsl(189, 58%, 57%));

$dark-text: hsl(229, 25%, 31%);
$score-text: hsl(229, 64%, 46%);
$header-outline: hsl(217, 16%, 45%);

$radial-gradient: radial-gradient(circle, rgba(31,55,86,1) 20%, rgba(20,21,57,1) 90%);

$paper-shadow: 0px 8px 0px 0px hsl(230, 89%, 55%);
$scissors-shadow: 0px 8px 0px 0px hsl(40, 84%, 43%);
$rock-shadow: 0px 8px 0px 0px hsl(349, 70%, 46%);
